@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

/* raset */
li {
    list-style: none;
    /* 블릿기호삭제 */
}

a {
    text-decoration: none;
    /* 밑줄뺴기 */
    color: #333;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

/* wrap */

#wrap {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;

}

#wrap #header {}

#wrap #header h1 {
    float: left;
    width: 110px;
    padding: 15px 0 0;
}

#wrap #header h1 a {}

#wrap #header h1 a img {

    /* 인라인 요소는 공간을 인식하지 못함
    width: 200px 값을 줘서 적용되지 않음
    그런데 인라인 요소이면서 공간을 인식하는 요소가 있음
    1. img
    2. button */

    width: 100%;
}

#wrap #header nav {
    float: right;
    /* background-color: #ddd; */
}

#wrap #header nav ul {}

#wrap #header nav ul li {
    position: relative;
    float: left;
    width: 140px;
    text-align: center;
    /* 나의 자식 중에서 inline 요소가 있거든 가운데로 정렬하라 */

}

#wrap #header nav ul li a {
    display: block;
    padding: 24px 20px 20px;
    transition: 0.3s;
    font-weight: bold;

}

#wrap #header nav ul li a:hover {
    background-color: #ccc;
}

#wrap #header .nav ul li .submenu {
    display: none;
    position: absolute;
    left: 0;
    top: 65px;
    z-index: 1;
}

#wrap #header .nav ul li .submenu li {}

#wrap #header .nav ul li .submenu li a {
    background-color: #ccc;
    padding: 10px;
}

#wrap #header .nav ul li .submenu li a:hover {
    background-color: #666;
}

/* /banner/ */

#wrap #banner {
    overflow: hidden;
}

#wrap #banner .slidelist {
    width: 3000px;
    position: relative;

}

#wrap #banner .slidelist .slideimg {
    width: 1000px;
    position: relative;
    float: left;
}

#wrap #banner .slidelist .slideimg h2 {
    position: absolute;
    left: 3%;
    top: 10%;
    /* transform: translate(-50%, -50%); */
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
}

#wrap #banner .slidelist .slideimg h3 {
    position: absolute;
    left: 3%;
    top: 30%;
    font-size: 40px;
}

#wrap #banner .slidelist .slideimg h4 {
    position: absolute;
    left: 3%;
    bottom: 30%;

}

#wrap #banner .slidelist .slideimg img {
    width: 100%;
    /*     img태그에 아래쪽에 빈틈 처리
    원인 : img태그가 인라인요소이기 때문
    1. display: block;
    2. :vertical-align : top  */

    display: block;
}

/* //content1 */

#wrap #content1 {
    margin-top: 20px;
}

#wrap #content1 .left {
    float: left;
    width: 49%;
    background-color: #f2f2f2;
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: 80px;
    /* background-position: x값 y값; */
    background-position: right 20px center;

    /* background: color img repeat position/size; ---> 위에 bgc 단축 */
    background: #f2f2f2 url(../img/bg1.jpg) no-repeat right 20px center/80px;
    padding: 20px;
    box-sizing: border-box;
}

#wrap #content1 .title {
    font-size: 22px;
    padding-bottom: 5px;
}

#wrap #content1 .desc {
    font-size: 14px;
    color: #666;
    padding-bottom: 15px;
}

#wrap #content1 .left .btn {
    background: url(../img/icon1.jpg) no-repeat left center;
    background-size: 20px;
    padding-left: 25px;

}

#wrap #content1 {}

#wrap #content1 .right {
    float: right;
    width: 49%;
    background: #f2f2f2 url(../img/bg2.jpg) no-repeat right 20px center/80px;
    padding: 20px;
    box-sizing: border-box;
}

#wrap #content1 .right .btn {
    background: url(../img/icon2.jpg) no-repeat left center;
    background-size: 20px;
    padding-left: 25px;

}

#wrap #content1 .right .btn em {}

/* //content2 */

#wrap #content2 {
    margin-top: 30px;
}

#wrap #content2 .tab_menu {}

#wrap #content2 .tab_btn {}

#wrap #content2 .tab_btn ul {}

#wrap #content2 .tab_btn ul li {
    float: left;
    margin-right: 15px;
    font-weight: bold;
}

#wrap #content2 .tab_btn ul li a {
    color: #999;
    font-size: 24px;
    /* 인라인요소는 padding, margin의 상하는 적용 안됨 */
    padding-bottom: 10px;
    display: block;
}

#wrap #content2 .tab_btn ul li.active a {
    color: #000;
}

#wrap #content2 .tab_cont figure{
    position: relative;
    font-size: 17px;
}

#wrap #content2 .tab_cont p{
    font-size: 18px;
    font-weight: bold;
}

#wrap #content2 .tab_cont h2 {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    text-align: center;
    line-height: 50px;
}

#wrap #content2 .tab_cont>div{overflow: hidden;
    /*     float으로 인해 부모가 깨짐현상 막기
    1) clear :both처리하기
    2) overflow :hidden
    3) 강제로 부모에게 높이값을 주기 */}

#wrap #content2 .tab_cont>div figure {
    float: left;
    width: 32%;
    margin-right: 2%;
    font-weight: bold;
}


#wrap #content2 .tab_cont>div figure:last-child {
    margin-right: 0;
}

#wrap #content2 .tab_cont>div figure img {
    width: 100%;
}

#wrap #content2 .tab_cont>div figure img figcaption {}

/* //footer */

#wrap #footer {
    margin-top: 30px;
    padding: 20px;
    overflow: hidden;
    background-color: #202020;
}

#wrap #footer h2 {
    float: left;
}

#wrap #footer h2 img {
    width: 150px;
}

#wrap #footer .foot {
    float: right;
    font-size: 10px;
}

#wrap #footer .foot ul {
    padding-bottom: 10px;
}

#wrap #footer .foot ul li {
    display: inline;
}

#wrap #footer .foot ul li a {
    color: #fff;
}

#wrap #footer address {
    color: #ccc;
    font-style: normal;
}

/* layer팝업 */ 
.layer-bg{
    display: none;
    position: fixed;
    /* width: 100%; height: 100%; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
} 


.layer-bg .layer{
    width: 400px;
    height: 424px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
    padding: 20px;
} 

.layer-bg .layer img{
    width: 100%;
    height: 100%;
}
.layer-bg .layer h2{

}
.layer-bg .layer .close{
    position: absolute;
    background-color: #ccc;
    display: block;
    width: 200px;
    height: 40px;
    right: 20px;
    bottom: -20px;
    text-align: center;
    line-height: 40px;
}

.layer-bg .layer .stop{
    position: absolute;
    background-color: #ccc;
    display: block;
    width: 200px;
    height: 40px;
    left: 20px;
    bottom: -20px;
    text-align: center;
    line-height: 40px;
    border-right: 1px solid #999;
    box-sizing: border-box;
}

/* 광고 */

#wrap .ad{
    width: 2000px;
    position: relative;
    
}

#wrap .ad img{
    width: 1000px;
    float: left;
}

/* /리뷰 */
#wrap #riew{
    position: relative;
    margin: 80px 0;
    height: 200px;
}

#wrap #riew .riew1 select{
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-bottom: 5px solid;
}

#wrap #riew .riew1 img{
   position: absolute;
   left: 260px;
   top: -45px;
    width: 300px;
    height: 300px;
}

#wrap #riew .riew1 .menu{
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

#wrap #riew .riew1 .login{
    font-size: 12px;
    font-weight: bold;
    color: #999;
}
#wrap #riew .riew1 .login span{
    color: darkgreen;
    text-decoration: underline;
}