* {
    margin: 0;
    padding: 0;
}

.yak::after {
    content: "";
    /* after=인라인요소 */
    clear: both;
    display: block;
}

.dad {
    width: 1000px;
    padding: 20px;
    background-color: #ecc900;
    margin: 0 auto;

}

.dad .child {
    background-color: #8ad66c;
    width: 33.333%;
    height: 100px;
    float: left;
}

.jommy {
    margin-top: 30px;
}

.jommy .child8 {
    width: 45%;
    background-color: #826eca;
    float: left;
    height: 100px;
}

.jommy .child1 {
    margin-right: 10%;
    }