@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #484D51;
}

.box1 {
    background-color: #818D97;
    font-size: 50px;
}

.box1 .child {
    font-size: 30px;
    font-weight: bold;
    width: 300px;
    background-color: #8FACC0;
    margin: 30px auto; /* //마진병합현상 */
    text-align: center;
    border: 10px solid #8FACC0;
    border-radius: 10px;
/*     transition-property: transform;
    transition-duration: 0.3s;
    transition-delay: 0.5s;
    transition-timing-function: cubic-bezier(0,-2.9, 1, 5.03); */
    /* transition: transform 0.3s cubic-bezier(0,-2.9, 1, 5.03) 0.5s; */
    /* transition: transform 0.3s, background-color 0.5s, color 0.3s 0.5s; */
    transition: all 0.3s;
    transition: 0.3s;
}

.box1 .child:hover{
    transform: translateY(-30%);
    background-color: #D2E4F1;
    color: #484D51;
}

.box2{
    width: 400px;
    font-size: 30px;
    color: 222;
    margin: 0 auto;
    text-align: center;
    background-color: #D2E4F1;
    overflow: hidden;
    font-size: 50px;
}

.box2>div{
    transform: translateX(-100%);
    transition: 0.5s cubic-bezier(1,-3.62, 0, 4.27);
}

.box2:hover>div{
    transform: translateX(0);
}

.box2 .one{
    transition-delay: 0.3s;
}
.box2 .two{
    transition-delay: 0.6s;
}
.box2 .three{
    transition-delay: 0.9s;
}
.box3{
    width: 100px;
    height: 100px;
    /* background-color: #818D97; */
    text-align: center;
    line-height: 100px;
    /* 애니메이션이름(keyframes의 name과 동일해야함) */
    animation-name: box_ani;
    /* 애니메이션 움직임 지속시간 second의 약자 */
    animation-duration: 1s;
    /* 애니메이션 반복 횟수 (3)//무한반복(infinite) */
    animation-iteration-count: 3; /* infinite; */
    /* 애니메이션의 방향
    narmal이 기본값
    alternate 정->역->정 
    alternate-reverse 역->정->역 
    reverse 위치의 시작이 거꾸로*/
    animation-direction: alternate;
    /* 애니메이션 지연시간 */
    animation-delay: 1s;
    /* 애니메이션 가속도 */
    animation-timing-function: cubic-bezier(1, 0.03, 0.32, 2.26);
    /* 애니메이션의 시작점과 끝의 상태조절 
    forwards 애니가 끝난상태에서 멈춤
    backwards 애니가 시작을 keytrames의 0% 상태부터 시작
    both = forwards = backwards
    */
    animation-fill-mode: both;
    font-size: 50px;
}

/* 애니메이션 움직임 제어 */

@keyframes box_ani{
    /* 시작지점 */
    from{margin-left: 300px;}
    /* 도착지점 */
    to{margin-left: 800px;}
}

.box4{
    width: 100px;
    height: 100px;
    /* background-color: #818D97; */
    text-align: center;
    line-height: 100px;
    /* animation-name: box-ani2;
    animation-duration: 4s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
    animation-delay: 1s
    animation-fill-mode: both; */
    animation: box-ani2 4s ease-in-out 1s 3;
    font-size: 50px;
}

    @keyframes box-ani2{
        0%{transform: translate(0px,0px);}
        25%{transform: translate(200px,0px);}
        50%{transform: translate(200px,200px);}
        75%{transform: translate(0px,200px);}
        100%{transform: translate(0px,0px);}
    }
