@charset "UTF-8";
*{margin: 0; padding: 0;}
.clear::after{content: ""; clear: both; display: block;}

.warp{
    position: relative;
    border: 5px solid lightblue;
    width: 1400px;
    margin: 30px auto 0;
    height: 700px;
    background-image: url(https://img.freepik.com/premium-vector/square-grid-paper-seamless-pattern-millimeter-paper-sheet-background_434359-268.jpg?w=2000);
}
.warp .banner{
    position: absolute;
    border: 5px solid lightcoral;
    width: 300px;
    height: 500px;
    left: 300px; bottom: -300px;
    box-sizing: border-box;
    
}

.banner img{width: 100%;}