body{
 background: #0128d4;
}

#animation{
    width: 400px; height: 300px;
    background: url(페페.png);
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%,-50%);
    animation: ani 6s steps(24,start) infinite;
    /* //start는 강아지가 즉시 움직이고//end는 첫단계(첫프레임)을 기본적으로 완료하도록함. */
}

@keyframes ani{
    0%{background-position: 0px 0px;}
    100%{background-position: -9600px 0px;}
}

.btn{}
.btn a{ display: inline-block;padding: 8px 10px;
background: #fff; color: #fff; text-decoration: none; border-radius: 3px;}
#animation.paused{animation-play-state: paused;}
#animation.running{animation-play-state: running;}